.header {
    width: 100%;
    height: 40px;
    background-color: var(--primary);
    color:#fff;
    
    /*fixando o navbar */
    position: fixed;
    top: 0;

    /* alinhamento do Header com tag a baixo. */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 1.5rem; /* 24px */
    font-weight: bold;
}

/* Alinhamento do links */

.header a {
    text-decoration: none;
    color: var(--white);
    padding-right: 1.5rem;
    font-size: 1.125rem;
}

.header a:hover {
    color: var(--red);
}