.projetos {
    padding-block: 2.5rem;  
}
.projetos h2 {
   text-align: center;
   padding-block: 1rem;
}

.lista {
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block:3rem;
    margin-top: 1rem;
    
    
}